priority -40

snippet "(\S.*)\.if" "if postfix code" br
if (${1:/* condition */}) {
	`!p snip.rv = match.group(1)`${0}
}
endsnippet

snippet "(\S.*)\.ife" "if postfix code" br
if (`!p snip.rv = match.group(1)`) {
	${1}
}
endsnippet

snippet "(\S.*)\.ret" "return postfix code" br
return `!p snip.rv = match.group(1)`;
endsnippet

snippet "(\S.*)\.echo" "echo postfix code" br
echo `!p snip.rv = match.group(1)`;
endsnippet
